out/
*.log
.DS_Store
Thumbs.db

# Rust
pc/target/

# Flutter
phone/build/
phone/.dart_tool/
phone/.flutter-plugins
phone/.flutter-plugins-dependencies
phone/android/local.properties
phone/android/.gradle/
phone/pubspec.lock
