[Desktop Entry]
Type=Application
Name=Noctorium
GenericName=Music player
Comment=One music player for YouTube Music and SoundCloud
Exec=noctorium
Icon=app.noctorium.Noctorium
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=app-noctorium-MainKt
